!!!
%html
%head
  %title Scoreboard
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  %link{:href => "https://fonts.googleapis.com/css?family=Roboto", :rel => "stylesheet"}/
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  = yield
