%div.scoreboard
  %p= status(game)
  - if complete(game)
    %div.inline
      %table.linescore
        = render :partial => "line_scores/partials/linescore", :locals => {:game => game}
    %div.totals
      %table
        = render :partial => "line_scores/partials/totals", :locals => {:game => game}
