%div#header
  %h1 Daily Gamescores

%div#date_selector
  = form_tag root_path, :method => :get do
    Date:
    %input#calendar{:type => "text", :name => "Date"}
    = submit_tag "Submit"


%div#line_scores
  - @output.each do |game|
    = render :partial => "line_scores/partials/scoreboard", :locals => {:game => game}
