// // Place all the styles related to the Line_Scores controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
//
// /* line 5, /Users/Josh/Development/scoreboard/web/app/assets/stylesheets/line_scores.scss */

* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

table.linescore {
  overflow-x: auto;
}

div.inline {
  padding-right: 20px;
  overflow-x: scroll;
  width: 370px;
}

td.inning {
  min-width: 20px;
  min-height: 20px;
  text-align: center;
  vertical-align: middle;
}

td.names {
  white-space: nowrap;
  min-width: 120px;
  text-align: left;
  padding-left: 3px;
}

table {
  border: 1px solid black;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

thead {
  border-collapse: separate;
  border-spacing: 0;
  border-top: 1px solid red;
}

tbody {
  border-collapse: separate;
  border-spacing: 0;
}

#date_selector {
  text-align: center;
}

div.scoreboard {
  display: inline-block;
  padding-bottom: 10px;
  margin-right: 50px;
}

div#line_scores {
  display: inline-block;
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

.inline, .totals {
  float: left;
}

div#header {
  text-align: center;
}

#calendar {
  margin: auto;
}

p {
  text-align: left;
  margin-bottom: 5px;
  padding-left: 3px;
}

ul {
  list-style-type: none;
}
