%table
  = render :partial => "line_scores/partials/header", :locals => {:game => game}
  %tbody
    = render :partial => "line_scores/partials/team", :locals => {:game => game, :team => "away"}
    = render :partial => "line_scores/partials/team", :locals => {:game => game, :team => "home"}
%p
